@page 
@model CV.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<div>
    <h1 class="text-center">Contact information</h1>
    <br>

    <dl>
        <dt>Name:</dt>
            <dd>Jacob Ravn</dd>
        <dt>Email:</dt>
            <dd>jacqques99@hotmail.com</dd>
        <dt>Phone Number:</dt>
            <dd>+45  3132 6432</dd>
        <dt>Address</dt>
            <dd>Brøndby, 2605</dd>
    </dl>
</div>