@page
@model CV.Pages.cvModel
@{
    ViewData["Title"] = "Online CV";
}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 7.4.4.2 (Linux)"/>
	<meta name="author" content="Anders Ravn"/>
	<meta name="created" content="2019-02-13T13:25:00"/>
	<meta name="changed" content="2023-02-27T13:21:34.469000000"/>
	<meta name="AppVersion" content="16.0000"/>
@*	<style type="text/css">
		@page { size: 8.27in 11.69in; margin-left: 0.79in; margin-right: 0.39in; margin-top: 0.49in; margin-bottom: 0.49in }
		p { line-height: 115%; text-align: left; orphans: 2; widows: 2; margin-bottom: 0.1in; direction: ltr; background: transparent }
		a:link { color: #0563c1; text-decoration: underline }
	</style>*@
</head>
<body lang="da-DK" link="#0563c1" vlink="#800000" dir="ltr"><p style="line-height: 108%; margin-bottom: 0.11in">
<font size="5" style="font-size: 18pt"><b>CV                         
                                   </b></font>
</p>
<p style="line-height: 108%; margin-bottom: 0.11in"><img src="CV%20-%20Jacob%20Ravn%202023_html_899e0654184b39de.gif" alt="Contact information" name="Shape1" alt="Shape1" align="left" width="464" height="175"/>
<img src="CV%20-%20Jacob%20Ravn%202023_html_2f522dcb4bec1c51.png" alt="Profile picture" name="Picture 1718564485" align="bottom" hspace="12" width="131" height="175" border="0"/>
</p>
<p style="line-height: 108%; margin-bottom: 0.11in"><br/>
<br/>

</p>
<p style="line-height: 108%; margin-bottom: 0.11in"><font size="4" style="font-size: 14pt"><b>Kernekompetencer:</b></font></p>
<p style="font-weight: normal; line-height: 108%; margin-bottom: 0.11in">
<font size="3" style="font-size: 12pt">Jeg har udviklet i C#,
Microsoft Power Platform og TypeScript. Jeg har arbejdet som
konsulent i et konsulent hus, hvor de fleste opgaver var at
automatisere arbejdsprocedure for kunderne.</font></p>
<p style="font-weight: normal; line-height: 108%; margin-bottom: 0.11in">
<font size="3" style="font-size: 12pt">Et eksempel på en
arbejdsopgave:<br/>
Jeg har bygget en app, som gør det lettere for
folk at sende produkter internt i virksomheden. Det er gjort ved
hjælp af Power App og Power Automate, som giver en udførlig input
form der sikre den rigtige data og ved hjælp inputtet henter den
rigtige informtion og automatisk sender informationen til den rette
person og laver shipping dokumenterne.</font></p>
<p style="font-weight: normal; line-height: 108%; margin-bottom: 0.11in">
<font size="4" style="font-size: 14pt">Faglig profil:</font></p>
<ul>
	<ul>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">Snakke med
		alle: Jeg har et godt forhold til alle mine kollegaer, og jeg kan
		arbejde sammen med alle.</p>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">Stærk til
		at sætte mig ind i nye ting.</p>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">Mødestabil:
		Kommer hver dag og aldrig for sent.	</p>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">Ansvarsfuld:
		På arbejdet tager jeg ansvar, også når chefen ikke er til stede.</p>
	</ul>
</ul>
<p style="line-height: 108%; margin-bottom: 0.11in"><font size="4" style="font-size: 14pt"><b>Erhvervserfaring:</b></font></p>
<p style="line-height: 108%; margin-bottom: 0.11in">2021 til 2023:
<b>Praktik hos Venzo</b>, efterfulgt af <b>studiejob hos Venzo</b><span style="font-weight: normal">
</span><span style="font-weight: normal">efterfulgt af
</span><b>fastansættelse</b>.</p>
<p style="line-height: 108%; text-indent: 0.91in; margin-bottom: 0.11in">
Opgaver:</p>
<ul>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">Den primære
	opgave har været at udvilke apps og løsninger for at optimerer
	arbejdsgangen ved hjælp af Microsofts Power Platform.</p>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">Byggede
	videre på en TypeScript <font color="#0563c1"><u><a href="https://marketplace.visualstudio.com/items?itemName=ms-devlabs.cascading-picklists-extension">Azure
	DevOps extension</a></u></font> til Novo Nordisk, så den tager imod
	csv filer som configuration og har lidt mere funktionalitet.</p>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">Arbejdet med
	driften af et system for CPH-lufthavn.</p>
</ul>
<p style="line-height: 108%; margin-bottom: 0.11in">Teknologier jeg
har arbejdet med:</p>
<ul>
	<li><p style="line-height: 108%; margin-bottom: 0.11in"><font size="2" style="font-size: 11pt">Microsoft
	Power Platform</font></p>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">TypeScript</p>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">Azure DevOps
	(Bicep, yml og mere)</p>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">C#</p>
</ul>
<p style="line-height: 108%; margin-bottom: 0.11in">2015 til 2019:
	Butiksassistent hos Thansen</p>
<p style="line-height: 108%; margin-bottom: 0.11in">	Ansvarsområder:
</p>
<ul>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">Montering af
	dæk.</p>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">Ansvarlig
	for butikken, når butikschefen ikke er til stede.</p>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">Ansvarlig
	for fyrværkerisalgs-pladsen, hvilket inkluderede personaleansvar og
	overholdelse af lovgivning.</p>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">Oplæring af
	nye medarbejdere.</p>
</ul>
<p style="line-height: 108%; margin-left: 0.91in; margin-bottom: 0.11in">
Resultater:</p>
<ul>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">Jeg har
	konsekvent opnået personlige salgsmål.</p>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">Har
	medvirket til, at butikken har vundet flere salgskonkurrencer.</p>
	<li><p style="line-height: 108%; margin-bottom: 0.11in">Butikken har
	opnået betydelig salgsfremgang.</p>
</ul>
<p style="line-height: 108%; margin-bottom: 0.11in">2011:	Kasseekspedient
hos Fakta</p>
<p style="line-height: 108%; margin-bottom: 0.11in"><font size="4" style="font-size: 14pt"><b>Uddannelse:</b></font></p>
<p style="line-height: 108%; margin-bottom: 0.11in">2019 – januar
2022: Datamatiker ved KEA.</p>
<p style="line-height: 108%; text-indent: 0.75in; margin-bottom: 0.11in">
Undervist i:</p>
<ul>
	<ul>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">Java
		(frameworks: Spring)</p>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">Python 
		</p>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">JavaScript
		(frameworks: nodejs, TypeScript)</p>
		<li><p lang="en-AU" align="left" style="line-height: 108%; margin-bottom: 0in">
		Docker</p>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">SCRUM</p>
		<li><p lang="en-AU" style="line-height: 108%; margin-bottom: 0.11in">
		Extreme Programming (XP)</p>
		<li><p lang="en-AU" style="line-height: 108%; margin-bottom: 0.11in">
		It Drift</p>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">MySQL</p>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">Html, css</p>
	</ul>
</ul>
<p style="line-height: 108%; margin-bottom: 0.11in">Tidligere
uddannelse:</p>
<ul>
	<ul>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">Studerende
		på DTU som trafik og transport diplomingeniør (2014-2016)</p>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">HTX med
		linjen kommunikation og IT (2011-2014)</p>
		<li><p style="line-height: 108%; margin-bottom: 0.11in">Udveksling
		i Australien, Highschool (2010)</p>
	</ul>
</ul>
<p style="line-height: 108%; margin-bottom: 0.11in"><font size="4" style="font-size: 14pt"><b>Sprogkundskaber:</b></font></p>
<p style="line-height: 108%; margin-bottom: 0.11in"><font size="4" style="font-size: 14pt">	</font>Dansk:
	Modersmål</p>
<p style="line-height: 108%; margin-bottom: 0.11in">	Engelsk: 	Højt
niveau i skift og tale 
</p>
<p style="line-height: 108%; margin-bottom: 0.11in">	Japansk:
	Aftenskole – det går stødt fremad</p>
<p style="line-height: 108%; margin-bottom: 0.11in"><font size="4" style="font-size: 14pt"><b>Fritid:
  </b></font>
</p>
<p style="line-height: 108%; margin-bottom: 0.11in">	Læser bøger,
både dansk og engelsk</p>
<p style="line-height: 108%; margin-bottom: 0.11in">	Gamer</p>
<p style="line-height: 108%; text-indent: 0.91in; margin-bottom: 0.11in">
Styrketræning</p>
<div title="footer"><p align="right" style="line-height: 100%; margin-top: 0.65in; margin-bottom: 0in">
	Side <font size="3" style="font-size: 12pt"><b><span style="background: #c0c0c0"><sdfield type=PAGE subtype=RANDOM format=PAGE>2</sdfield></span></b></font>
	af <font size="3" style="font-size: 12pt"><b><span style="background: #c0c0c0"><sdfield type=DOCSTAT subtype=PAGE format=PAGE>2</sdfield></span></b></font></p>
	<p style="line-height: 100%; margin-bottom: 0in"><br/>

	</p>
</div>
</body>
</html>