@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <a asp-area="Pages" asp-page="/cv"><p>To see online CV click here</p></a>

    <a asp-page-handler="DownloadCVODT"><p>Download CV as .odt</p></a>
    <a asp-page-handler="DownloadCVPDF"><p>Download CV as .pdf</p></a>
    <a asp-page-handler="DownloadBevisDiploma"><p>Download graduation diploma as .pdf</p></a>
    <a asp-page-handler="DownloadRecommendation"><p>Download newest Recommendation as .pdf</p></a>


</div>
