@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <a asp-area="Pages" asp-page="/cv"><p>To see online CV click here</p></a>

    <a asp-page-handler="DownloadCV"><p>Download CV</p></a>


</div>
