@page
@model CV.Pages.WorkModel
@{
}



<div>
    <h1 class="display-4">Work and projects</h1>
    
    <h3>This website</h3>
    <div class="indented">
        <p>This website desribes my previous experience and information to show who I am, it was made as a hobby project for fun. 
            The code for this project can be found <a href="https://github.com/jacqques/CV">Here on GitHub.</a>
        </p>
    </div>
    <br />
    <h3>Venzo</h3>
    <div class="indented">
        <p>Venzo is a consultant business that provides everything Microsoft and Azure, from custom build C# code to Power BI. For the majority of the time I was there, 
            I build applications using Power Apps, Power Automate and other Microsoft tools such as Microsoft forms and Sharepoint.
        
            <h5>Projects:</h5>
            <div class="indented">
                <h6>Medical company: DevOps extension</h6>
                When creating work tasks, you have picklists where you can choose items on a list. This could be priority from 1-3 or other. 
                Sometimes you want the choices in your various picklists to depend on other picklists. There is already a a library kindly provided by <a href="https://marketplace.visualstudio.com/items?itemName=ms-devlabs.cascading-picklists-extension">Microsoft.</a>
                This extension was configured by JSON, which doesn't work well when the configuration files you have are all in a different format. 
                So I modified the extension so that it allowed csv files instead, which was a grand success and really helped the customer having an easier time configurating the picklists. 
            </div>
        </p>
    </div>
</div>