@page
@model CV.Pages.WorkModel
@{
}

<div>
    <h1 class="display-4">Work and projects</h1>
    
    <h3 class="display-6">This website</h3>
    <p>This website desribes my previous experience and information to show who I am, it was made to ensure that my development skills does not decay. 
        The code for this project can be found <a class="text-dark" href="https://github.com/jacqques/CV">Here.</a>
    </p>

</div>