@page
@model CV.Pages.EducationModel
@{
}

<div>
    <h1 class="display-4">Education</h1>

    <h3>Datamatiker (AP graduate of computer science)</h3>
    <div class="indented">
        <p>
            This is where I learned to code like a genius, by stealing with tooth and nail from Stackoverflow.com. 
        </p>
    </div>

    <h3>DTU: Trafic and transportation</h3>
    <div class="indented">
        <p>
            I attended DTU for about 2 years, I studied trafic and transportation which was the study of road/rail city planning. Essentially the education was about being able to find the answer to "how do we make trafic flow better, and would this road/train be a good idea?"
            It had some very interresting elements, but I attended DTU straight after highschool and I should have waited a year.
            At about 2 years in, my part time job at Thansen offered me a full time position when a colleague left and I said yes. 
            
            I did learn something very important while attending. Coding is very fun and challenging in good ways!
            Which is why I started with computer science (see above) when I wanted to futher my education after Thansen.
        </p>
    </div>

    <h3>Highschool (htx)</h3>
    <div class="indented">
        <p>

        </p>
    </div>

    <h3>Exhange student</h3>
    <div class="indented">
        <p>
            I spent roughly 6 months in Australia attending Churchlands senior highschool. 
        </p>
    </div>

</div>