@page
@model CV.Pages.EducationModel
@{
}

<div>
    <h1 class="display-4">Education</h1>

    <h3>Datamatiker (AP graduate of computer science)</h3>
    <div class="indented">
        <p>
            This is where I learned to code like a genius, by stealing with tooth and nail from Stackoverflow.com.You can download my exams diploma as a .pdf <a asp-page-handler="DownloadBevisDiploma">here.</a> 
            <br />
            Personally it felt like the school was too easy and we didn't learn enough but it was likely because we where taught a broad amount of knowledge about developing. We learned about agile development, SCRUM and XP being the most dominant, we learned about drawing architecture and the importance of making clear documentation for future developers. 
            We learned a lot of things and it did give me a great foundation to become a skilled developer. The education was taught using Java as a primary code language, we also used a little JavaScript for frontend learning. 

            <h6>Coding languages:</h6>
            <div class="indented">
                <ul>
                    <li>Java:
                        <ul> 
                            <li>The Spring framework for websites</li>    
                            <li>Hybernate for SQL</li>
                            <li>Thymeleaf for frontend manipulation</li>
                        </ul>
                    </li>
                    <li>JavaScript:
                        <ul>
                            <li>Node.js and express for full stack development</li>
                            <li>Frontend beautification/functionallity</li>
                            <li>npm</li>
                        </ul>
                    </li>
                   <li>
                       Python
                   </li>
                </ul>
            </div>
        </p>
    </div>

    <h3>DTU: Trafic and transportation</h3>
    <div class="indented">
        <p>
            I attended DTU for about 2 years, I studied trafic and transportation which was the study of road/rail city planning. Essentially the education was about being able to find the answer to "how do we make trafic flow better, and would this road/train be a good idea?"
            It had some very interresting elements, but I attended DTU straight after highschool and I should have waited a year.
            At about 2 years in, my part time job at Thansen offered me a full time position when a colleague left and I said yes. 
            
            I did learn something very important while attending. Coding is very fun and challenging in good ways!
            Which is why I started with computer science (see above) when I wanted to futher my education after Thansen.
        </p>
    </div>

    <h3>Highschool (htx)</h3>
    <div class="indented">
        <p>
            Yea, I went to highschool. Pretty impressive huh? Honestly not much to tell, it's so long ago and has very little to do with what I do today. The only relevant thing worth mentioning are the Gestalt princibles. (<a href="https://www.nielsgamborg.dk/?p=gestaltlovene">Dansk</a> | <a href="https://www.usertesting.com/resources/topics/gestalt-principles">English</a>)
        </p>
    </div>

    <h3>Exhange student: Highschool</h3>
    <div class="indented">
        <p>
            I spent roughly 6 months in Australia attending Churchlands senior highschool. 
        </p>
    </div>

</div>