@page
@model CV.Pages.EducationModel
@{
}

<div>
    <h1 class="display-4">Education</h1>

    <h3>Datamatiker (AP graduate of computer science)</h3>
    <div class="indented">
        <p>

        </p>
    </div>

    <h3>DTU: Trafic and transport</h3>
    <div class="indented">
        <p>

        </p>
    </div>

    <h3>Highschool (htx)</h3>
    <div class="indented">
        <p>

        </p>
    </div>

    <h3>Exhange student</h3>
    <di class="indented">
        <p>
            I spent roughly 6 months in Australia attending Churchlands senior highschool. 
        </p>
    </di>

</div>