@page
@model CV.Pages.FreetimeModel
@{
}
<h1 class="display-4">Freetime</h1>
    <div class="indented">
        <p>Normally there isn't much room to talk your spare time on a resume, but given that you clicked and thus chose this I will spare no detail.</p>
    </div>

<h3>Japanese</h3>
<div class="indented">
    <h6>こんにちは。</h6>
    <p>
        私は日本語を 4 年間勉強していますが、私の日本語はまだ下手です。
    </p>

    
</div>
<h3>Books</h3>
<div class="indented">
    <p>
        I have loved reading books since I was a kid and read my first "Viggo vampyr", which was the first childrens book I managed to read without feeling stuck. 
        Since then I have read many, many books of all kinds ranging from textbooks to crime thrillers. I have a strong preference for epic fantasy, I simply love the world building they typically provide, I love trying to imagine how the magic could be used to solve everyday problems like fightning the main badguy of the story.
        What reading a good book feels like can only be described as such:
        <br />
        Imagine sitting in a comfortable chair and watching a great movie, this movie is really great at conveying the motivations of the characters, it's almost as if you can read their minds.
        Each character feels alive, fleshed out like they could actually exists somewhere. You are at your edge of your seat as the plot progresses, slowly but surely it's being thrown in different directions  yet clearly working towards a main goal.
        Then unfortunatly you have to pee, so you pause the movie and go do what you have to. As you come back, sit in your chair and looks at the screen ready to unpause you realize the screen is black.
        Whats going on here? 
        <br />
        Then you down on the table and realize, you weren't watching a movie, you where reading a book. Yet you could have sworn you had actually seen a movie, complete will all the images of one.
        Thats what reading a good book feels like, getting lost in a great movie.
        <br />
        Favorite author: Brandon Sanderson
        Favorite bookseries: Ascendance of a bookworm

    </p>
</div>

<h3>Fitness</h3>
<div class="indented">
    <p>
        I work out a few times a week and I swim on mondays. Working out has given me more energy during the day and it's always fun spending time with my training partner.  
        It also feels great when looking in the mirror and seeing my weight loss journey is going along nicely, so far I have gained 20kg so I will reach my goal any day now.
        Originally I started because of a girl I met once, she said something that made me realise why would anyone care about me, if I don't take care of myself?
        So now I am strong and it feels good.
    </p>
</div>

<h3></h3>