@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style type="text/css">
    .download-container {
        background-color: #EEF7F8;
        display: flex;
        justify-content: center;
        padding: 10px;
        gap: 10px;
    }

    .download-item {
        width: 33%;
        display: flex;
        justify-content: center;
    }
    .download-a {
        color: black;
        text-decoration: none;
        font-size: 1.2em;
    }

     .download-item:hover {
        background: linear-gradient(to bottom right, #EEF7F8, rgba(0, 98, 255, 0.102));
    }

</style>

<div class="text-center container">
    <h1 class="display-3">Welcome</h1>
    <h4 style="color: red;">!This website is still under construction!</h4>
    <p>This website was constructed by me, to present my proffesionel profile to future potential employers. It is a bit of a hoppy project, so some of the effects are more
        fun than they are practical. I hope you enjoy your stay. See the source code <a href="https://github.com/jacqques/CV">here on GitHub.</a> You can contact me via email at jacqques99@hotmail.com.
    </p>
    <h2 class="display-6">CV</h2>
    <div class="download-container shadow rounded">
        <div class="download-item shadow-sm rounded card">
            <a class="download-a" asp-area="Pages" asp-page="/Cv"><p>To see online CV click here</p></a>
        </div>
        <div class="download-item shadow-sm rounded card">
            <a class="download-a" asp-page-handler="DownloadCVODT"><p>Download CV as .odt</p></a>
        </div>
        <div class="download-item shadow-sm rounded card">
            <a class="download-a" asp-page-handler="DownloadCVPDF"><p>Download CV as .pdf</p></a>
        </div>
    </div>
    <h2 class="display-6">References</h2>
    <div class="download-container shadow rounded">
        <div class="download-item shadow-sm rounded card">
            <a class="download-a" asp-page-handler="DownloadRecommendation"><p>Download newest Recommendation as .pdf</p></a>
        </div>
    </div>
    <h2 class="display-6">Exams diploma</h2>
    <div class="download-container shadow rounded">
        <div class="download-item shadow-sm rounded card">
            <a class="download-a" asp-page-handler="DownloadBevisDiploma"><p>Download graduation diploma as .pdf</p></a>
        </div>
    </div>




</div>
