@page
@model CV.Pages.WorkModel
@{
}



<div>
    <h1 class="display-4">Work and projects</h1>
    
    <h3>This website</h3>
    <div class="indented">
        <p>This website desribes my previous experience and information to show who I am, it was made as a hobby project for fun. 
            The code for this project can be found <a href="https://github.com/jacqques/CV">Here on GitHub.</a>
        </p>
    </div>
    <br />
    <h3>Venzo: Software developer</h3>
    <p>2021-2023</p>
    <div class="indented">
        <p>Venzo is a consultant business that provides everything Microsoft and Azure, from custom build C# code to Power BI. For the majority of the time I was there, 
            I build applications using Power Apps, Power Automate and other Microsoft tools such as Microsoft forms and Sharepoint.
        
            <h5>Projects:</h5>
            <div class="indented">
                <h6>Medical company: DevOps extension</h6>
                When creating work tasks, you have picklists where you can choose items on a list. This could be priority from 1-3 or other. 
                Sometimes you want the choices in your various picklists to depend on other picklists. There is already a a library kindly provided by <a href="https://marketplace.visualstudio.com/items?itemName=ms-devlabs.cascading-picklists-extension">Microsoft.</a>
                This extension was configured by JSON, which doesn't work well when the configuration files you have are all in a different format. 
                So I modified the extension so that it allowed csv files instead, which was a grand success and really helped the customer having an easier time configurating the picklists. 
                Tools: TypeScript
                <br />
                <br />
                <h6>Different medical company: Shipping app </h6>
                I created a Power App that allows for an easir time sending merchandise between departments for both the logistics department and the senders/recievers.
                The problem is that medical items can be complicated to send from one country to another. The app I created took the input from the sender, ensuring that nothing was missed and making it so that they didn't have to look up all the informaton.
                After the app has been given by the sender, the information is sent to the people for arranging the package, they enter the information they need and documentation is automaticly generated as a pdf. 
                Tools: Power Automate, Power Apps, SharePoint, a little html
                <br />
                <br />
                <h5>CI/CD</h5>
                I have created CI/CD pipelines using DevOps and bicep (ARM framework) that was capable of launching test, prod and dev enironments depending on need. As well as update the app when new pull requests complete.
                This isn't a specific project, I just wanted to let you know that I have made CI/CD. The latest pipeline I made was between GitHub and App Service in Azure, it took all of 5 minutes and was build using Microsofts Deployment Center. Again, just thought I would mention this because I thought it was pretty cool. 
            </div>
        </p>
    </div>
    <h3>Thansen: Salgsassistent</h3>
    <p>2015-2019</p>
    <div class="indented">
        <p>
            The majority of the tasks was stocking the shelves and serving customers. Personally I found helping customers find car parts the most interresting. 
            I also learned to change tyres on cars, which was also great fun.
            During the new years season I was in charge of the fireworks sales location, making sure safety rules was kept and the sales process worked smoothly. 
        </p>
    </div>

    <h3>Fakta: Kassedame</h3>
    <p>2011</p>
    <div class="indented">
        <p>
            I managed the register, I was 16 and all the old ladies loved me and all the grumpy men was annoyed when I said "good morning" at 9:05.
        </p>
    </div>

</div>