<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CV</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CV.styles.css" asp-append-version="true" />

    <style type="text/css">
        .navbar-nav:hover > .nav-item {
            opacity: 0.7;
            transition: opacity 400ms ease !important;
        }

        .navbar-nav:hover > .nav-item:hover {
            opacity: 1;
            background: linear-gradient(to bottom right, #EEF7F8, rgba(0, 98, 255, 0.202));
                transition: opacity 400ms ease !important;
        }

        .dropdown-item:hover {
            background: linear-gradient(to bottom right, #EEF7F8, rgba(0, 98, 255, 0.202));
        } 

        .active {
            background: linear-gradient(to bottom right, #EEF7F8, rgba(0, 98, 255, 0.202));
        }

        #the-nav {
            display: flex !important;
            z-index: 2;
            position: relative;
        }

        #the-nav a {
            color: white !important;
        }

        .dropdown-menu {
            background: black;
        }

        .nav-style {
            display: flext;
            justify-content: center;
            flex-grow: 1;
            font-size: 3vw;

        }

        .nav-item {
            margin-right: 2vw;
            margin-left: 2vw;
        }

        .navbar-nav {
            transition: opacity 400ms ease !important;
        }

        .navbar-background-pattern {
            height: 100%;

            background-image: radial-gradient( rgba(255, 255, 255, 0.3) 9%, transparent 9% );
            background-position: 0% 0%;
            background-size: 5vmin 5vmin;
            left: 0px;
            position: absolute;
            top: 0px;
            transition: opacity 800ms ease, background-size 800ms ease, background-position 800ms ease;

            width: 100%;
            z-index: -1;
        }

        .nav-item:hover ~ .navbar-background-pattern {
            background-size: 4vmin 4vmin;
            opacity: 1 !important; 
        }

        #menu[data-active-index="0"] > #navbar-background-pattern {
            background-position: 25% 0% !important;
        }

        #menu[data-active-index="1"] > #navbar-background-pattern {
            background-position: 50% 0% !important;
        }

        #menu[data-active-index="2"] > #navbar-background-pattern {
            background-position: 75% 0% !important;
        }
        
</style>
</head>
<body class="background">
    <header style="background: black; z-index: -5;">
        <nav id="the-nav" class="navbar border-bottom navbar-expand-sm box-shadow mb-3 container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse">
                <ul class="nav-style navbar-nav" id="menu">
                    <li class="nav-item" id="home">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>

                        <li class="dropdown nav-item" id="CV">

                        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CV
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item text-dark" id="work" asp-area="" asp-page="/Work">Work</a>
                            <a class="dropdown-item text-dark" id="education" asp-area="" asp-page="/Education">Education</a>
                            <a class="dropdown-item text-dark" id="freetime" asp-area="" asp-page="/Freetime">Freetime</a>
                        </div>
                    </li>

                    <li class="nav-item" id="contact">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact</a>
                    </li>
                    <li id="navbar-background-pattern" class="navbar-background-pattern"></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CV - jacqques99@hotmail.com
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>